<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.15.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Modbus" version="1.0.189" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.15" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.31" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Ports" version="1.1.84" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.59" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.43" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.54" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Angle" version="5.50.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Length" version="5.50.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.50.0" targetFramework="netnano1.0" />
</packages>